@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Jomolhari&family=Italiana&display=swap');

:root {
    /* ----- Font Families ----- */
        --ff-highlight-1: 'Jomolhari', serif;
        --ff-highlight-2: 'Italiana', serif;
        --ff-body: 'Inknut Antiqua', serif;
    /* ------------------------- */

    /* ----- Default 16px ----- */
        /* 64px */
        --fs-xxxlg: 4rem;
        /* 40px */
        --fs-xxlg: 2.5rem;
        /* 32px */
        --fs-xlg: 2rem;
        /* 24px */
        --fs-lg: 1.5rem;
        /* 16px */
        --fs-default: 1rem;
        /* 15px */
        --fs-sm: 0.9375rem;
        /* 12px */
        --fs-xsm: 0.75rem;
    /* ------------------------ */

    /* ----- Spacing ----- */
        --spc-xxxlg: 32em;
        --spc-xxlg: 16em;
        --spc-xlg: 8em;
        --spc-lg: 4em;
        --spc-md: 2em;
        --spc-default: 1em;
        --spc-sm: 0.5em;
        --spc-xsm: 0.25em;
    /* ------------------- */

    /* ----- Colors ----- */
        --black: hsl(0, 0%, 30%);
        --black-75: hsla(0, 0%, 0%, 75%);
        --black-50: hsla(0, 0%, 0%, 50%);
        --black-25: hsla(0, 0%, 0%, 25%);
        --black-10: hsla(0, 0%, 0%, 10%);

        --white: hsla(0, 0%, 100%, 1);

        --gray: hsla(0, 0%, 95%, 1);

        --hover-color: hsl(180, 90%, 40%);
    /* ------------------ */

    --color: var(--black);
    --theme: var(--white);
    --shadow: var(--black-10);
}

/* ---------- CSS Reset ---------- */
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Set core root defaults */
    html:focus-within {
        scroll-behavior: smooth;
    }

    body {
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }
      
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
/* ------------------------------- */

body {
    color: var(--color);
    background-color: var(--theme);
}

/* ---------- Skip navigation ---------- */
    .skip-navigation {
        font-size: var(--fs-md);
        position: absolute;
        top: 0;
        left: 0.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        transform: translateY(-10em);

        color: var(--black);
        background-color: hsl(90, 70%, 80%);
    }

    .skip-navigation:focus {
        transform: translateY(0);
    }
/* ------------------------------------- */

/* ----------- Header ----------- */
    .header-nav {
        z-index: 1;
    }

    .nav-site {
        display: flex;
        align-items: center;
    }

    #nav-btn {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        margin-left: var(--spc-default);
        border: none;
        color: var(--color);
        background-color: transparent;
    }

    #nav-btn:hover,
    #nav-btn:focus-visible {
        color: var(--hover-color);
    }

    #nav-btn svg,
    #close-modal svg {
        display: block;
        margin: auto;
    }

    .nav-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        font-family: var(--ff-body);
        font-size: var(--fs-lg);
        font-weight: bold;
        color: var(--black);
        text-decoration: none;
    }

    .nav-bar {
        display: none;
        gap: var(--spc-default);
        list-style: none;
    }

    .nav-bar a {
        font-family: var(--ff-body);
        color: var(--color);
        text-decoration: none;
    }

    .nav-logo:hover,
    .nav-bar a:hover,
    .nav-bar a:focus-visible {
        color: var(--hover-color);
    }

    #modal-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--theme);

        z-index: 1;
        display: none;
    }

    #modal-nav[data-state="opened"] {
        display: block;
    }

    .modal-content {
        min-height: 100%;
        border: none;
        outline-offset: -0.5em;
        box-shadow: 0 0 0.5em var(--black-50);
        padding-top: var(--spc-lg);
        position: relative;
    }

    .modal-content a {
        font-size: var(--fs-xxlg);
        font-family: var(--ff-highlight-2);

        color: var(--color);
        text-decoration: none;
    }

    .modal-content a:hover,
    .modal-content a:focus-visible {
        color: var(--hover-color);
    }

    #close-modal {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border: none;
        color: var(--color);
        background-color: transparent;
    }

    #close-modal:hover,
    #close-modal:focus-visible {
        color: var(--hover-color);
    }

    .modal-nav-bar {
        display: grid;
        justify-content: center;
        gap: var(--spc-xsm);

        list-style: none;
    }
/* ------------------------------ */

/* ---------- main ---------- */
    main {
        padding-inline: var(--spc-default);
    }
/* -------------------------- */

/* ------------ Footer ------------ */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spc-xsm);
        margin-top: var(--spc-default);

        font-size: clamp(var(--fs-xsm), 1vw + 0.5rem, var(--fs-default));
        color: var(--color);
        background-color: var(--bg-1);
        min-height: 10rem;
    }
/* -------------------------------- */

/* ------------ Tablet (700px) ------------ */
    @media (min-width: 43.75em) {
        /* --------- header --------- */
            .header-nav {
                display: grid;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin-inline: auto;
            }

            .nav-site {
                display: grid;
                justify-content: center;
                justify-items: center;
                padding-block: var(--spc-default);
            }

            #nav-btn {
                display: none;
            }

            .nav-logo {
                position: initial;
                left: initial;
                transform: initial;
            }

            .nav-bar {
                display: flex;
            }

            #modal-nav[data-state="opened"] {
                display: none;
            }
        /* -------------------------- */
    }
/* ---------------------------------------- */

/* ------------ Desktop (1280px) ------------ */
    @media (min-width: 80em) {
        main {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }
/* ------------------------------------------ */